<?xml version="1.0"?>

<launch>

	<arg name="filtered_coordinates_file_dir" value="/waypoint_files/plot_filtered_points.txt" />
	<arg name="raw_coordinates_file_dir" value="/waypoint_files/plot_raw_points.txt" />
	<arg name="num_points" value="1000" />
	<arg name="collection_time" value="1" />

  <!-- Run collect_gps_waypoints node -->
  	<node pkg="outdoor_waypoint_nav" type="plot_gps_waypoints" name="plot_gps_waypoints" output="screen"/>
			<!-- WARNING: This will replace any file in this directory with the same name.-->
			<param name="/outdoor_waypoint_nav/filtered_coordinates_file" value="$(arg filtered_coordinates_file_dir)" type="string" />
			<param name="/outdoor_waypoint_nav/raw_coordinates_file" value="$(arg raw_coordinates_file_dir)" type="string" />
			<param name="/outdoor_waypoint_nav/num_points" value="$(arg num_points)" type="int" />
			<param name="/outdoor_waypoint_nav/collection_time" value="$(arg collection_time)" type="double" />
</launch>
			
